.dashboard-container {
  display: flex;
  flex-direction: row;
  background-color: #dde0de;
}

.processing-dots {
  display: inline-block;
  animation: processingDots 1.5s infinite;
}

@keyframes processingDots {
  0%,
  20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60%,
  100% {
    content: "...";
  }
}

.MuiFormControl-root {
  background-color: transparent;
}
