.table-container {
  width: 100%;
  overflow-x: auto;
}

.MuiDataGrid-topContainer {
    background-color: aqua;
}

.MuiDataGrid-filler, .MuiDataGrid-scrollbarFiller--header {
    background-color: rgb(255, 255, 255);
}

.MuiDataGrid-columnHeaderTitleContainer {
    background-color: rgb(255, 255, 255);
}

.MuiDataGrid-cellEmpty {
      border: none;
}